table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

td.green {
    background-color: lightgreen;
}

td.red {
    background-color: lightcoral;
}

td.blue {
    background-color: lightblue;
}

#targetInfo {
    margin-top: 20px;
}