<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class=" nav-item">
          <a class="nav-link" [routerLink]="['/about']" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="text-danger">Login</a>
        </li>
      </ul>
    </div>
</nav>
