table {
    width: 70%;
    border-collapse: collapse;
    position: relative;
    top: 40px;
    left: 40px;
}

tr,
td {
    height: 60px;
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

h1 {
    position: relative;
    top: 60px;
}